li{
    float: left;
    list-style-type: none;
}
li a{
    padding: 24px;
    font-size: 18px;
}
nav{
    float: right;
}
body{
    margin: 7% 5% 5% 5% ;
}
#header{
    overflow: hidden;
}
h1{
    padding: 16px;
}

.div_box{
    background-color: #d3d3d367;
    padding: 2%;
}

.width_33{
    width: 33%;
}
 #power_ecommerce{
     padding-left: 1%;
     text-align: left !important;
 }
#paraHt{
    line-height: 1.5;
}

#learn_more_btn{
    padding: 5px;
}

.main_card{
    float: left;
    width: 20%;
    display: flex;
    flex-wrap: nowrap; 
    margin: 30px;
    display: block;
    text-align: center;
}

h2{
    text-align: center;
}

span{
    font-size: medium;
}
#content{
    margin: auto;
}
.inner_card{
    background-color: #d3d3d367;
    padding: 85% 74% 48% 39%;
}

.flex_box{
    display: flex;
    place-content: center;
}

#footer{
    width: 96%;
    background-color: #d3d3d367;
    padding: 3.5%;
    /* float: right; */
    
}

input[type=text] {
    
    margin-right: .2%;
  }

#sub{
    float:left;
    padding-left: 27%;
    font-size: large;
    font-weight: bold;
}

/* .footer_form{
    float: right;
    padding-right: 40%;
} */

.button1{
    background-color: steelblue;
    float: right;
    width: 22%;
    text-align: left;
    font-weight: bold;
    color: white;
    font-size:medium;
    margin-right: 20%;
    padding: .3% 1% .3% 4%;
}

@media screen and (max-width: 500px) {
    .button1 ,.inner_card {
      width: 100%; 
    }
  }

#last{
    float: right;
}


